<div class="container">
  <h1 class="center">Tasks List</h1>
  <div class="center"><img src="images/yeoman.png" alt="I'm Yeoman"></div>
</div>

<div class="tasks-list" dragula='"task-list"' dragula-model="taskList">
    <div class="task-item" ng-repeat="item in taskList" dragula-scope="$parent">
      <div class="task-id" ng-bind="item.id"></div>
      <!-- <span class="task-title break" type="text" name="task-{{item.id}}-title" ng-bind="item.title"></span> -->
      <div class="task-description break" type="text" name="task-{{item.id}}-description" ng-bind="item.description"></div>
      <span class="space"></span>
      <button>Editar</button><button>Borrar</button>
    </div>
</div>
