<div class="container">
  <h1 class="center">Tasks List</h1>
  <div class="center"><img src="images/yeoman.png" alt="I'm Yeoman"></div>
</div>

<pre class="debug">{{taskList | json}}</pre>

<span ng-bind="error" ng-if="error"></span>

<div class="tasks-list">
  <div class="task-item">
    <form>
      Type task and Save:
      <textarea type="text" class="newTask-description" name="newTask-description" ng-model="newTask.description"></textarea>
      <span class="space"></span>
      <button ng-click="createTask(newTask)">Save</button>
    </form>
  </div>
  <div dragula='"task-list"' dragula-model="taskList">
    <div class="task-item" ng-repeat="task in taskList" dragula-scope="$parent">
      <div class="task-id" ng-model="task.task_id" ng-if="task.id"></div>
      <form>
        <textarea type="text" class="task-description" name="task-{{task.task_id}}-description" ng-model="task.task_description"></textarea>
      </form>
    </div>
  </div>
</div>