// bower:scss
@import "../susy/sass/_susy.scss";
// endbower

// Sass Mixins
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// Susy Configuration
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 12,
  gutters: 20px/80px,
  column-width: 80px,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    // image: show,
    // output: overlay,
    color: rgba(#66f, .25),
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

// If Browser is not compatible with App
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// UI-Router active element in Menu
.active {
  color: red; font-weight: 600;
}

// General Fixes
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: auto !important;
}

html,
body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.1rem;
  color: #333;
  height: 100%;
  background-color: #ffffff;
}

textarea {
  font-family: 'PT Sans Narrow', sans-serif;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

input {
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

button::-moz-focus-inner {
  border: 0;
}

select {
  cursor: pointer;
  -moz-appearance: none;
  text-indent: 0.01px;
}

select::-ms-expand {
  display: none;
}

hr {
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #bbb;
  margin: 20px 0;
}

input[type="submit"], button.btn, a.btn, md-checkbox {
  &[disabled] {
    opacity: 0.2;
  }
}

img {
  display: inline-block;
  // width: 100%;
}

strong {
  font-weight: bold;
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  color: #333;
  &.block {
    @extend .block;
    margin-bottom: 20px;
    padding: 0 16px;
    height: 30px;
    font-weight: 600;
    line-height: 30px;
  }
  &.underline {
    margin-bottom: 15px;
    height: 30px;
    font-weight: 400;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #bbb;
    line-height: 30px;
  }
}

.space {
  @include clearfix;
  display: block;
  margin: 10px 0;
  &.large {
    margin: 20px 0;
  }
}

.clear {
  @include clearfix;
}

.center {
  text-align: center;
}

.break {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}

pre {
  @extend .break;
  display: block;
  padding: 9.5px;
  font-size: 0.6rem;
  line-height: 1.42857143;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  &.debug {
    position: fixed;
    top: 10px;
    right: 20px;
    max-width: 350px;
    max-height: 400px;
    overflow: auto;
  }
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #666;
  background-color: #f9f2f4;
  border-radius: 4px;
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
  footer {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
    &:before {
      content: '\2014 \00A0';
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
  }
}

// Main Styles

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.task-text {
  display: inline-block;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: transparent;
}

.tasks-list {
  background: #eee;
  margin: 0 20px;
  padding: 20px;
  .task-id {
    @extend .center;
    display: inline-block;
    background-color: red;
    padding: 15px 20px;
    margin-bottom: 20px;
  }
  .task-item {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #333;
    &:last-of-type {
      border-width: 0;
    }
    .task-description {
      @extend .task-text;
      &:hover {
        border-color: #333;
      }
    }
    &:hover {
      background-color: #bbb;
    }
    &.over {
      background-color: green;
    }
  }
}

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}